# Data Science Tools And Ecosystem

### In this notebook, Data Science Tools And Ecosystem Are Summarised

this notebook covers some essential objectives, such as:

+ popular languages that Data Scientists.
+ Some of the commonly used libraries.
+ Some Data Sience Tools.
+ few examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. python
2. R 
3. julia 
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Scikit-learn
3. Matplotlib
4. pandas

|Data Sience Tools|
|-----------------|
|Anaconda navigator|
|jupyter lab|
|Rstudio|
|apache hadoop|

#### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

### converting minutes to hours:

In [8]:
x=200
print (x//60)

3

## Auther
MURTADA ASIM